body {
    background: linear-gradient(270deg, #ffdea9, #647a93);
    background-size: 400% 400%;
    color: #fff;
    -webkit-animation: shimmer 30s ease infinite;
    -moz-animation: shimmer 30s ease infinite;
    animation: shimmer 30s ease infinite;
}

@-webkit-keyframes shimmer {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
}
@-moz-keyframes shimmer {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
}
@keyframes shimmer { 
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
}
